{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Bot | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bot.css' %}">

{% endblock head %}

{% block body %}
<div class = container-bot>
<head>
    <title>Bot to book a flight ticket</title>   
</head>

<body>
    <h1>Bot to book a flight ticket</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 500px;">
            <div style="width: 30%; display: table-cell;">
                
    
    </div>
    <div style="display: table-cell; height: 500px;"> 
        <iframe width="640" height="480" src="https://embed.wotnot.io/7mrzjhbm7mZu150117297782le0HwomC/bot/4CccQUVQNLZe150117898032jApdsbgd?display_header=false&history_retention=false" frameborder="0"></iframe>
    </div>
    </div>
</div>
</body>
</div>
{% endblock %}